{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">

        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

        {% if data.page.titre is defined %}
            <h3 class="titre1">{{ data.page.titre }}</h3>
        {% endif %}

        {% if data.page.contenu is defined %}
            <div class="text-justify">{{ data.page.contenuDecode | raw }}</div>
            <br>
        {% endif %}
        <div class="col-12 my-2">
            <div class="card">
                <div class="card-header">
                    {% if data.actu.isNew  %}
                        <span class="badge badge-secondary">Nouveau</span>
                    {% endif %}
                    {{ data.actu.type |capitalize }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="text-center news-container-jumo">

                                <img src="{{ data.actu.imageUrl }}" alt="image actualite" class="news-image-jumo">
                                <img src="/img/masquenews.png" alt="image actualite"  class="news-image-masque-jumo">
                                <div class="news-caption-jumo text-truncate">
                                    <p><small>{{ data.actu.intitule }}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title bleu-jumo">{{ data.actu.intitule }}</h5>
                            <p class="card-text">{{ data.actu.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text text-justify">{{ data.actu.contenuDecode | raw}}</p>
                            <!--{% if data.actu.lien is not empty %}
                                <p class="card-text text-justify">Vous pouvez trouver des informations complémentaires à propos de ce sujet sur cette <a href="{{ data.actu.lien }}">page</a>.</p>
                            {% endif %}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </main>
{% endblock %}