{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">

        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        
		<h1 class="text-center mt-5" id="title-div">
			ACTUALITÉS / SALONS</h1>
		<div class="row justify-content-center">
			{% for s in data.actus %}
				<div class="col-md-5 m-4">
					<a href="{{ s.Url }}">
						<img id="intro-example" src="{{s.imageUrl}}" alt="image Service">
					</a>
					<div class="text-center" id="test">
						<h3 class="">
							<a class="" id="test2" href="{{ s.Url }}">{{ s.intitule }}</a>
						</h3>
						<h5 class="">{{ s.description }}</h5>
						<a class="" id="test2" href="{{ s.Url }}">En savoir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>

    </main>
{% endblock %}