{%  extends 'component/layout.html.twig' %}

{% block main %}
    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

            <div class="row text-justify">
                <div class="col-md-10 text-justify">
                    <h3 class="titre1">Bienvenue {{ data.admin.Nom }} !</h3>
                    <p>Vous êtes connecté(e) à l'espace d'administration du site internet. Vous pouvez gérer le contenu du site à partir du menu se trouvant ci-dessous.</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn1-jumo" href="{{ path_for('admin/deconnexion.disconnect') }}" role="button">Déconnexion</a>
                </div>
            </div>
        <hr class="hr-jumo">
        <h3 class="titre1">Menu d'administration</h3>
        <div class="row">
            {% for groupe in data.menu.groupes %}
                <div class="col-md-6 d-flex">
                    <div class="card media my-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title titre1">{{ groupe.intitule }}</h5>
                            <ul class="ul-jumo">
                                {% for item in groupe.items %}
                                    {% if data.admin.Droits >= item.droits %}
                                        <li class="text-left"><a href="{{ item.lien }}">{{ item.intitule }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



    </main>
{% endblock %}
