{%  extends 'component/layout.html.twig' %}

{% block css %}{% endblock %}


{% block main %}

	<main role="main" class="container">
		{% include 'component/fil-ariane.html.twig' with data.filAriane %}
		<h3 class="text-justify titre1">Formulaire de création d'un nouveau groupe produit</h3>
		{% if data.error is defined %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Erreur:</strong>
				{{ data.error }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}
		<form class="container" method="POST">
			<div class="form-group">
				<label>#LP</label>
				<select class="form-control" name="lp" id="lpSelect" onchange="loadGA()">
					<option value="-1" selected>Choisir une LP ...</option>
					{% for lp in data.lps %}
						<option value="{{ lp.lp }}" {% if data.gp.lp == lp.lp %} selected {% endif %}>{{ lp.lp }}
							-
							{{ lp.intitule }}</option>
					{% endfor %}
				</select>
				<small id="gaHelp" class="form-text text-muted">Le #LP doit correspondre à une ligne de produit existante.</small>
			</div>

			<div class="form-group">
				<label>#GA</label>
				<select class="form-control" name="ga" id="gaSelect">
					<option value="-1" selected>Choisir un GA ...</option>
					{% for ga in data.gas %}
						<option value="{{ ga.ga }}" {% if data.gp.ga == ga.ga %} selected {% endif %}>{{ ga.ga }}
							-
							{{ ga.intitule }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label>#GP</label>
				<input type="text" class="form-control" name="gp" placeholder="Numéro de GP" value="{{ data.gp.gp }}">
			</div>

			<div class="form-group">
				<label>Intitule</label>
				<input type="text" class="form-control" name="intitule" placeholder="Intitulé du groupe produit" value="{{ data.gp.intitule }}">
			</div>

			<div class="form-group">
				<label>Description 1</label>
				<textarea name="description1" id="editor2" class="form-control">{{ data.gp.description1 }}</textarea>
			</div>

			<div class="form-group">
				<label>Description 2</label>
				<textarea name="description2" id="editor1" class="form-control">{{ data.gp.description2 }}</textarea>
			</div>
			<div class="form-group">
				<label>Nom des caractéristiques(mettre une * avant chaque nom)</label>
				<textarea name="namescarac" id="editor2" class="form-control">{{ data.gp.namescarac }}</textarea>
			</div>
			<div class="form-group">
				<label>Caractéristiques(mettre une * avant chaque caractéristiques)</label>
				<textarea name="carac" id="editor2" class="form-control">{{ data.gp.carac }}</textarea>
			</div>
			<!--<div class="form-group">
				<select class="form-control" name="typelabel" id="gaSelect">
					<option value="-1" selected>Choisir un type de label à afficher...</option>
					<option value="Nouveau produit">Nouveau produit</option>
					<option value="Produit archivé">Produit archivé</option>
					<option value="Meilleur vendeur">Meilleure vendeur</option>
					<option value="Fin de série">Fin de série</option>
				</select>
			</div>-->
            <div class="form-group">
				<label>Label à mettre (Nouveau produit, fin de série, etc.)</label>
				<textarea name="typelabel" id="editor2" class="form-control">{{ data.gp.typelabel }}</textarea>
			</div>

			<button type="submit" class="btn btn-outline-primary">
				<i class="fas fa-check-circle"></i>
				Créer</button>
			<a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/gp.index') }}" role="button">
				<i class="fas fa-arrow-left"></i>
				Retour</a>

		</form>
	</main>
{% endblock %}

{% block javascript %}
	<script src="/js/scripts/scripts.js"></script>
	<script src="/ckeditor4/ckeditor.js"></script>
	<script src="/js/scripts/ckeditorLoader.js"></script>
	<script>
		/* Ckeditor */
/* Ckeditor */
loadCkeditor('editor1', 4);
loadCkeditor('editor2', 4);
	</script>
{% endblock %}
