{%  extends 'component/layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui.min.css">
{% endblock %}


{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de création d'un nouvelle actualité</h3>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form class="container" method="POST">

            <div class="form-group">
                <label>Type</label>
                <select class="form-control" name="type">
                    <option value="-1" selected>Choisir ...</option>
                    <option value="info" {% if data.actualite.type == "info" %}selected{% endif %}>Information</option>
                    <option value="salon" {% if data.actualite.type == "salon" %}selected{% endif %}>Salon</option>
                    <option value="produit" {% if data.actualite.type == "produit" %}selected{% endif %}>Produit</option>
                </select>
            </div>

            <div class="form-group">
                <label>Intitule</label>
                <input type="text" class="form-control" name="intitule" value="{{ data.actualite.intitule }}" aria-describedby="intituleHelp">
                <small id="intituleHelp" class="form-text text-muted">Donnez un titre à votre news.</small>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" value="{{ data.actualite.description }}" aria-describedby="descriptionHelp">
                <small id="descriptionHelp" class="form-text text-muted">Décrivez l'actualité de manière consise.</small>
            </div>

            <div class="form-group">
                <label>Contenu</label>
                <textarea name="contenu" id="editor" class="form-control" >{{ data.actualite.contenuDecode | raw }}</textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Date début</label>
                    <input type="text" class="form-control" name="dateDeb" id="dateDeb" value="{{ data.actualite.dateDeb }}">
                </div>
                <div class="form-group col-md-6">
                    <label>Date Fin</label>
                    <input type="text" class="form-control" name="dateFin" id="dateFin" value="{{ data.actualite.dateFin }}" aria-describedby="dateFinHelp">
                    <small id="dateFinHelp" class="form-text text-muted">Pour une actualité intemporelle, ne saisissez pas de date de fin.</small>
                </div>
            </div>

            <div class="form-group">
                <label>Lien</label>
                <input type="text" class="form-control" name="lien" value="{{ data.actualite.lien }}">
                <small id="lienHelp" class="form-text text-muted">Si vous souhaitez compléter l'actualité par une autre ressource, saisissez l'url de cette ressource ici.</small>
            </div>

            <div class="form-group">
                <label>Image (Format 865/442)</label>
                <div class="input-group mb-3 input-append">
                    <input type="text" class="form-control" name="image" aria-describedby="imageHelp" placeholder="Chemin du fichier séléctionné" id="js-window-input" value="{{ data.actualite.image }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-vert-jumo" type="button" id="js-window-button">Ouvrir le gestionnaire de fichiers</button>
                    </div>
                </div>
                <small id="imageHelp" class="form-text text-muted">Saisissez le chemin d'une image de la forme <kbd>/upload/news/<i>nom du fichier</i></kbd> </small>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"><label>Carousel</label></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="carousel" {% if data.actualite.carousel %}checked{% endif %}>
                        <label class="form-check-label">Faire apparaître dans le carousel de page d'accueil</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Créer</button>
            <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/actualite.index') }}" role="button"><i class="fas fa-arrow-left"></i> Retour</a>

        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="/ckeditor4/ckeditor.js"></script>
    <script src="/js/scripts/ckeditorLoader.js"></script>
    <script src="/js/jquery-ui/jquery-ui.js"></script>
    <script>
        /* Ckeditor */
        loadCkeditor('editor', 4);

        $( function() {
            $( "#dateDeb" ).datepicker({
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNamesShort: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
                firstDay: 1,
                dateFormat: "yy-mm-dd",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });
            $( "#dateFin" ).datepicker({
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNamesShort: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
                firstDay: 1,
                dateFormat: "yy-mm-dd",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });
        } );
    </script>

    <script>
        $(function() {
            $('#js-window-button').on('click', function() {
                var opener = window.open("{{ path_for('admin/filemanager.show') }}?expandedFolder=news", 'targetWindow',
                    'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800, height=800');

                function handlePostMessage(e) {
                    var data = e.originalEvent.data;
                    console.log('js-data', data);
                    if (data.source === 'richfilemanager') {
                        $('#js-window-input').val(data.preview_url);
                        opener.close();
                    }

                    // remove an event handler
                    $(window).off('message', handlePostMessage);
                }

                $(window).on('message', handlePostMessage);

            });
        });
    </script>

{% endblock %}
