{%  extends 'component/layout.html.twig' %}

{% block css %}

{% endblock %}
 

          

{% block main %}
    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de modification d'un lien</h3>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if data.success is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès:</strong> {{ data.success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <form class="container" method="POST">
            <input type="hidden" name="_METHOD" value="PUT"/>


            <div class="form-group">
                <label>Titre</label>
                <input type="text" class="form-control" name="titre" value="{{ data.lien.titre }}">
            </div>

           <div class="form-group">
                <label>Type</label>
                <select class="form-control" name="type" id="typeSelect" onchange="lienFormUpdate();">
                    <option value="-1" selected>Choisir ...</option>
                    <option value="Categorie" {% if data.lien.type == "Categorie" %}selected{% endif %}>Categorie</option>
                    <option value="Sous-categorie" {% if data.lien.type == "Sous-categorie" %}selected{% endif %}>Sous-categorie</option>
                   
                </select>
            </div>
            
             <select class="form-control"  id="categSelect" name="categorie">
                    <option value="-1" selected>Choisir la catégorie à laquelle appartient ce lien:</option>
                    {% for catego in data.categ %}
                        <option value="{{ catego.id }}" {% if data.lien.idCategorie == catego.id %}selected{% endif %}>{{  catego.id }} - {{  catego.titre }}</option>
                    {% endfor %}
            </select>
             <div class="form-group">
                <label>Url</label>
                <input type="text" name="url"  class="form-control"  value="{{ data.lien.url }}">
            </div>
           
            
            <br>

           

            <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Modifier</button>
            <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/lien.index') }}" role="button"><i class="fas fa-arrow-left"></i>Retour</a>
            <br>
            <br>
        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="/js/scripts/scripts.js"></script>
    <script src="/ckeditor4/ckeditor.js"></script>
    <script src="/js/scripts/ckeditorLoader.js"></script>
    
    <script>
     $(document).ready(function(){
        lienFormUpdate();
        });
        </script>
{% endblock %}
