{%  extends 'component/layout.html.twig' %}

{% block css %}

{% endblock %}


{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de création d'un nouveau service</h3>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form class="container" method="POST">
            <div class="form-group">
                <label>Intitule</label>
                <input type="text" class="form-control" name="intitule" value="{{ data.service.intitule }}">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" value="{{ data.service.description }}">
            </div>

            <div class="form-group">
                <label>Contenu</label>
                <textarea name="contenu" id="editor" class="form-control" >{{ data.gp.contenu }}</textarea>
            </div>
            <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3 input-append">
                    <input type="text" class="form-control" name="image" aria-describedby="imageHelp" placeholder="Chemin du fichier séléctionné" id="js-window-input" value="{{ data.service.image }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-vert-jumo" type="button" id="js-window-button">Ouvrir le gestionnaire de fichiers</button>
                    </div>
                </div>
                <small id="imageHelp" class="form-text text-muted">Saisissez le chemin d'une image de la forme <kbd>/upload/services/<i>nom du fichier</i></kbd> </small>
            </div>

            <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Créer</button>
            <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/service.index') }}" role="button"><i class="fas fa-arrow-left"></i> Retour</a>

        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="/js/ckeditor5/ckeditor.js"></script>
    <script>
        /* Ckeditor */
        ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => { console.log(error); });
    </script>

        <script>
        $(function() {
            $('#js-window-button').on('click', function() {
                var opener = window.open("{{ path_for('admin/filemanager.show') }}?expandedFolder=services ", 'targetWindow',
                    'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800, height=800');

                function handlePostMessage(e) {
                    var data = e.originalEvent.data;
                    console.log('js-data', data);
                    if (data.source === 'richfilemanager') {
                        $('#js-window-input').val(data.preview_url);
                        opener.close();
                    }

                    // remove an event handler
                    $(window).off('message', handlePostMessage);
                }

                $(window).on('message', handlePostMessage);

            });
        });
    </script>
{% endblock %}
