{%  extends 'component/layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
{% endblock %}


{% block main %}

    <main role="main" class="container">

        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if data.success is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès:</strong> {{ data.success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path_for('admin/catalogue-standard.create') }}"><i class="fas fa-plus"></i> Créer un nouveau catalogue standard</a>
                <div class="dropdown-divider"></div>
            </div>
        </div>

        <br>

        <nav class="nav nav-tabs" id="csTab" role="tablist">
            <a class="nav-item nav-link active" id="csEntietTab" data-toggle="tab" href="#csEntietTabContent" role="tab" aria-controls="csEntietTabContent" aria-selected="true">Cat. Stand. Intégrals</a>
            <a class="nav-item nav-link" id="csLpTab" data-toggle="tab" href="#csLpTabContent" role="tab" aria-controls="csLpTabContent" aria-selected="false">Cat. Stand. par Lignes de Produits</a>
            <a class="nav-item nav-link" id="csGpTab" data-toggle="tab" href="#csGpTabContent" role="tab" aria-controls="csGpTabContent" aria-selected="false">Cat. Stand. par Groupes Produit</a>
        </nav>

        <div class="tab-content">
            <!-- Cat Stand Entier -->
            <div class="tab-pane fade show active container" id="csEntietTabContent" role="tabpanel">
                <br>
                <table id="csEntierDataTable"class="table table-sm table-responsive-md table-hover display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col" class="w-50">Intitule</th>
                        <th scope="col" class="">Pdf actif</th>
                        <th scope="col" class="">Mag. actif</th>
                        <th scope="col" class="w-20">date MAJ</th>
                        <th scope="col" class="w-10">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in data.cataloguesEntier %}
                        <tr>
                            <th scope="row">{{ c.id }}</th>
                            <td>{{ c.intitule }}</td>
                            <td>{% if c.isActifPdf %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                            <td>{% if c.isActifMag %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                            <td>{{ c.dateMaj }}</td>
                            <td class="row">
                                <a class="btn btn-outline-success btn-sm mx-1 my-1" href="#" role="button"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-outline-primary btn-sm mx-1 my-1" href="{{ path_for('admin/catalogue-standard.edit', {'id':c.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                                <form method="POST" action="{{ path_for('admin/catalogue-standard.delete', {'id':c.id}) }}" class="mx-1 my-1 formDelete">
                                    <input type="hidden" name="_METHOD" value="DELETE"/>
                                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Cat Stand par LP -->
            <div class="tab-pane fade container" id="csLpTabContent" role="tabpanel">
                <br>
                <table id="csLpDataTable"class="table table-sm table-responsive-md table-hover display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col" class="">LP</th>
                        <th scope="col" class="w-50">Intitule</th>
                        <th scope="col" class="">Pdf actif</th>
                        <th scope="col" class="">Mag. actif</th>
                        <th scope="col" class="w-20">date MAJ</th>
                        <th scope="col" class="w-10">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in data.cataloguesLp %}
                        <tr>
                            <th scope="row">{{ c.id }}</th>
                            <td>{{ c.lp }}</td>
                            <td>{{ c.intitule }}</td>
                            <td>{% if c.isActifPdf %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                            <td>{% if c.isActifMag %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                            <td>{{ c.dateMaj }}</td>
                            <td class="row">
                                <a class="btn btn-outline-success btn-sm mx-1 my-1" href="#" role="button"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-outline-primary btn-sm mx-1 my-1" href="{{ path_for('admin/catalogue-standard.edit', {'id':c.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                                <form method="POST" action="{{ path_for('admin/catalogue-standard.delete', {'id':c.id}) }}" class="mx-1 my-1 formDelete">
                                    <input type="hidden" name="_METHOD" value="DELETE"/>
                                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Cat Stand par GP -->
            <div class="tab-pane fade container" id="csGpTabContent" role="tabpanel">
                <br>
                <table id="csGpDataTable"class="table table-sm table-responsive-md table-hover display">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col" class="">LP</th>
                        <th scope="col" class="">GA</th>
                        <th scope="col" class="">GP</th>
                        <th scope="col" class="w-50">Intitule</th>
                        <th scope="col" class="">Pdf actif</th>
                        <th scope="col" class="">Mag. actif</th>
                        <th scope="col" class="w-20">date MAJ</th>
                        <th scope="col" class="w-10">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in data.cataloguesGp %}
                        <tr>
                            <th scope="row">{{ c.id }}</th>
                            <td>{{ c.lp }}</td>
                            <td>{{ c.ga }}</td>
                            <td>{{ c.gp }}</td>
                            <td>{{ c.intitule }}</td>
                            <td>{% if c.isActifPdf %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                            <td>{% if c.isActifMag %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                            <td>{{ c.dateMaj }}</td>
                            <td class="row">
                                <a class="btn btn-outline-success btn-sm mx-1 my-1" href="#" role="button"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-outline-primary btn-sm mx-1 my-1" href="{{ path_for('admin/catalogue-standard.edit', {'id':c.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                                <form method="POST" action="{{ path_for('admin/catalogue-standard.delete', {'id':c.id}) }}" class="mx-1 my-1 formDelete">
                                    <input type="hidden" name="_METHOD" value="DELETE"/>
                                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </main>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce Catalogue Standard ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form method="POST" action="" id="formDeleteConfirmation">
                        <input type="hidden" name="_METHOD" value="DELETE"/>
                        <button type="submit" class="btn btn-primary"> <i class="fas fa-trash-alt"></i> Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.formDelete').submit(function(event){
                event.preventDefault();
                $('#formDeleteConfirmation').attr('action',$(this).attr('action'));
                $('#modalDelete').modal('show');
            });

            $('#csEntierDataTable').DataTable({"order": [[4, "desc"]]});
            $('#csLpDataTable').DataTable({"order": [[1, "asc"],[5, "desc"]]});
            $('#csGpDataTable').DataTable({"order": [[1, "asc"],[2, "asc"],[3, "asc"],[7, "desc"]]});
        });
    </script>
{% endblock %}
