{%  extends 'component/layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>
{% endblock %}


{% block main %}

    <main role="main" class="container">

        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if data.success is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès:</strong> {{ data.success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path_for('admin/actualite.create') }}"><i class="fas fa-plus"></i> Créer une nouvelle actualité</a>
                <div class="dropdown-divider"></div>
            </div>
        </div>

        <br>

        <table id="dataTable"class="table table-sm table-responsive-md table-hover display">
            <thead class="thead-light">
            <tr>
                <th scope="col">#Id</th>
                <th scope="col" class="w-50">Intitule</th>
                <th scope="col" class="">Début</th>
                <th scope="col" class="">Fin</th>
                <th scope="col" class="">Carousel</th>
                <th scope="col" class="w-20">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for a in data.actualites %}
                <tr>
                    <th scope="row">{{ a.id }}</th>
                    <td>{{ a.intitule }}</td>
                    <td>{{ a.dateDebut }}</td>
                    <td>{{ a.dateFin }}</td>
                    <td>{% if a.carousel %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                    <td class="row">
                        <a class="btn btn-outline-success btn-sm mx-1 my-1" href="{{ a.url }}" role="button"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-outline-primary btn-sm mx-1 my-1" href="{{ path_for('admin/actualite.edit', {'id':a.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                        <form method="POST" action="{{ path_for('admin/actualite.delete', {'id':a.id}) }}" class="mx-1 my-1 formDelete">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer cette actualité ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form method="POST" action="" id="formDeleteConfirmation">
                        <input type="hidden" name="_METHOD" value="DELETE"/>
                        <button type="submit" class="btn btn-primary"> <i class="fas fa-trash-alt"></i> Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.formDelete').submit(function(event){
                event.preventDefault();
                $('#formDeleteConfirmation').attr('action',$(this).attr('action'));
                $('#modalDelete').modal('show');
            });


            $('#dataTable').DataTable({
                "order": [[2, "desc"]]
            });
        });
    </script>
{% endblock %}
