{%  extends 'component/layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui/jquery-ui.structure.css"/>
{% endblock %}


{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de modification de l'ordre des services</h3>
        <p>Pour changer la position d'un service, il suffit de la sélctionner puis de la faire glisser à la position souhaité.</p>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if data.success is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès:</strong> {{ data.success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <ul id="sortable" class="list-group container">
            {% for s in data.services %}
                <li class="list-group-item list-group-item-action" value="{{ s.id }}"></span>{{ s.intitule }}</li>
            {% endfor %}
        </ul>

        <br>
        <button id="btnValider" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Valider</button>
        <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/service.index') }}" role="button"><i class="fas fa-arrow-left"></i> Retour</a>




    </main>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/js/jquery-ui/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#sortable" ).sortable();
            $( "#btnValider" ).click(function(event) {
                event.preventDefault();
                var services = {};
                $( ".list-group-item" ).each(function(index){
                    //services[s_id] = order
                    services[parseInt($(this).attr('value'))] = index+1;
                });
                $.ajax({
                    type: 'POST',
                    url: "{{ path_for('admin/service.order') }}",
                    data: JSON.stringify(services),
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {
                    window.location.href = "{{ path_for('admin/service.index') }}";
                }).fail(function (error) {
                    alert('Erreur '+parseInt(error.status)+': '+error.statusText);
                }).always(function () {
                    //do nothing
                });
            });
        } );


    </script>
{% endblock %}
