{%  extends 'component/layout.html.twig' %}

{% block css %}

{% endblock %}


{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de modification d'un article</h3>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if data.success is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès:</strong> {{ data.success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <form class="container" method="POST">
            <input type="hidden" name="_METHOD" value="PUT"/>

            <div class="form-group">
                <label>#LP</label>
                <select class="form-control" name="lp" id="lpSelect" onchange="loadGA()">
                    <option value="-1" selected>Choisir une LP ...</option>
                    {% for lp in data.lps %}
                        <option value="{{ lp.lp }}" {% if data.gp.lp == lp.lp %}selected{% endif %}>{{ lp.lp }} - {{ lp.intitule }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="lpSave" value="{{ data.gp.lp }}"/>
                <small id="gaHelp" class="form-text text-muted">Le #LP doit correspondre à une ligne de produit existante.</small>
            </div>

            <div class="form-group">
                <label>#GA</label>
                <select class="form-control" name="ga" id="gaSelect">
                    <option value="-1" selected>Choisir un GA ...</option>
                    {% for ga in data.gas %}
                        {% if data.gp.lp == ga.lp %}
                            <option value="{{ ga.ga }}" {% if data.gp.ga == ga.ga %}selected{% endif %}>{{ ga.ga }} - {{ ga.intitule }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" name="gaSave" value="{{ data.gp.ga }}"/>
            </div>

            <div class="form-group">
                <label>#GP</label>
                <input type="text" class="form-control" name="gp" placeholder="Numéro de GP" value="{{ data.gp.gp }}">
            </div>

            <div class="form-group">
                <label>#TN</label>
                <input type="text" class="form-control" name="tn" placeholder="Numéro de TN" value="{{ data.gp.tn }}">
            </div>

            <div class="form-group">
                <label>Intitule</label>
                <input type="text" class="form-control" name="intitule" placeholder="Intitulé de l'article" value="{{ data.gp.designation }}">
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea style="width: 100%; height: 250px" name="description1" id="editor1" class="form-control" >{{ data.gp.texte }}</textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Modifier</button>
            <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/catalogue-stock.index') }}" role="button"><i class="fas fa-arrow-left"></i> Retour</a>

        </form>

    </main>
{% endblock %}

{% block javascript %}
    <script src="/js/scripts/scripts.js"></script>
    <script src="/ckeditor4/ckeditor.js"></script>
    <script src="/js/scripts/ckeditorLoader.js"></script>
    <script>
        /* Ckeditor */
                /* Ckeditor */
      //  loadCkeditor('editor1', 4);
      //  loadCkeditor('editor2', 4);
    </script>
{% endblock %}
