{%  extends 'component/layout.html.twig' %}

{% block css %}

{% endblock %}


{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de création d'une nouvelle page</h3>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form class="container" method="POST">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" name="id" aria-describedby="idHelp" value="{{ data.p.id }}">
                <small id="idHelp" class="form-text text-muted">Chaîne de caractère identifiant la page. Il ne pourra pas être changé ultérieurement.</small>
            </div>

            <div class="form-group">
                <label>Titre</label>
                <input type="text" class="form-control" name="titre" value="{{ data.p.titre }}">
            </div>

            <div class="form-group">
                <label>Contenu</label>
                <textarea name="contenu" id="editor" class="form-control" >{{ data.p.contenu }}</textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Créer</button>
            <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/page.index') }}" role="button"><i class="fas fa-arrow-left"></i> Retour</a>

        </form>
    </main>
{% endblock %}

{% block javascript %}
    <script src="/js/scripts/scripts.js"></script>
    <script src="/ckeditor4/ckeditor.js"></script>
    <script src="/js/scripts/ckeditorLoader.js"></script>
    <script>
        /* Ckeditor */
        loadCkeditor('editor', 4);
    </script>
{% endblock %}
