{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

        <h3 class="titre1">{{ data.ga.intitule }}</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% for d in data.gps %}
                        <div class="col-md-6 d-flex">
                            <div class="media card-lp-jumo">
                                <div class="img-product-container-jumo text-center">
                                    <img class="align-self-center img-product-jumo px-3 pb-3 pt-1" src="{{ d.imageSmallUrl }}" alt="image produit">
                                </div>
                                <div class="media-body">
                                    <p class="mt-0 "><a href="{{ d.url }}" class="a-jumo">{{ d.designation }}<br> <b>Réf Jumo : {{ d.tn}} </b> <br> Produit concerné : 
                                        {% for d2 in data.prod %}
                                            {% if d.gp == d2.gp %}
                                                {{ d2.intitule }}
                                            {% endif %}
                                        {% endfor %}
                                        
                                        </a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}