{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}


        {% if (data.csLp is not null) and (data.lp is not null) %}
            <div class="jumbotron">
                <h4 class="titre1">Catalogue Standard: {{ data.lp.intitule }}</h4>
                <div class="row">
                    <p class="lead text-justify col-md-12">Découvrez notre catalogue standard: <em>{{ data.lp.intitule }}</em> en version magazine pour un meilleur confort de lecture, ou en version PDF pour une lecture standard.</p>
                </div>
                {% if (data.csLp is not null) and (data.lp is not null) %}
                    <hr class="my-4">
                    {% if data.csLp.isActifMag %}
                        <a class="btn btn-outline-orange-jumo btn-lg mr-4" href="{{ data.csLp.fichierMag }}" role="button">Magazine</a>
                    {% elseif data.csLp.isActifPdf %}
                        <a class="btn btn-outline-vert-jumo btn-lg ml-4" href="{{ data.csLp.fichierPdf }}" role="button">PDF</a>
                    {% else %}
                        <p class="lead">Aucun support n'est disponnible pour le moment pour ce catalogue.</p>
                    {% endif %}
                {% else %}
                    <p class="lead">Aucun support n'est disponnible pour le moment pour ce catalogue.</p>
                {% endif %}
            </div>
        {% endif %}

        {% if data.csGp is not null %}
            <div class="jumbotron">
                <h4 class="titre1">Catalogue Standard: {{ data.csGp.intitule }}</h4>
                <div class="row">
                    <p class="lead text-justify col-md-12">Découvrez notre catalogue standard: <em>{{ data.csGp.intitule }}</em> en version magazine pour un meilleur confort de lecture, ou en version PDF pour une lecture standard.</p>
                </div>
                <hr class="my-4">
                {% if data.csGp is not null %}
                    {% if data.csGp.isActifMag %}
                        <a class="btn btn-outline-orange-jumo btn-lg mr-4" href="{{ data.csGp.fichierMag }}" role="button">Magazine</a>
                    {% endif %}
                    {% if data.csGp.isActifPdf %}
                        <a class="btn btn-outline-vert-jumo btn-lg ml-4" href="{{ data.csGp.fichierPdf }}" role="button">PDF</a>
                    {% endif %}
                {% else %}
                    <p class="lead">Aucun support n'est disponnible pour le moment pour ce catalogue.</p>
                {% endif %}
            </div>
        {% endif %}

        {% if data.cssLp is not null %}
            <h4 class="titre1">Détails du catalogue standard de la ligne de produit:</h4>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="mt-0 bleu-jumo">{{ data.lp.intitule }}</h5>
                    <div class="media ">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="align-self-start mx-auto d-block" src="{{ data.lp.imageUrl }}" alt="image LP">
                            </div>
                            <div class="media-body col-md-10">
                                <ul class="card-text ul-jumo">
                                    {% for cs in data.cssLp %}
                                        <li>
                                            <a class="a-jumo" href="{{ path_for('catalogue-standard.showGP', {'lp':cs.lp, 'ga':cs.ga, 'gp':cs.gp}) }}">
                                                {{ cs.intitule }}
                                                {% if cs.Links is not empty %}
                                                    {% for text, lien in cs.Links %}
                                                        {% if text == "pdf" %}
                                                            <a href="{{ lien }}" class="badge badge-vert-jumo">{{ text }}</a>
                                                        {% else %}
                                                            <a href="{{ lien }}" class="badge badge-orange-jumo">{{ text }}</a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}

        {% if data.csConnexe is not empty %}
            <br>
            <h4 class="titre1">Catalogue(s) standard(s) connexe(s) à celui séléctionné:</h4>
            <ul class="ul-jumo">
                {% for cs in data.csConnexe %}
                    {% if cs.type == "entier" %}
                        <li>
                            <a class="a-jumo" href="{{ path_for('catalogue-standard.index') }}">
                                {{ cs.intitule }}
                                {% if cs.Links is not empty %}
                                    {% for text, lien in cs.Links %}
                                        {% if text == "pdf" %}
                                            <a href="{{ lien }}" class="badge badge-vert-jumo">{{ text }}</a>
                                        {% else %}
                                            <a href="{{ lien }}" class="badge badge-orange-jumo">{{ text }}</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </a>
                        </li>
                    {% elseif cs.type == "parLP" %}
                        <li>
                            <a class="a-jumo" href="{{ path_for('catalogue-standard.showLP', {'id':cs.LpId, 'lp':cs.lp}) }}">
                                {% if data.lpConnexe is not null %}
                                    {{ data.lpConnexe.intitule }}
                                {% else %}
                                    {{ cs.intitule }}
                                {% endif %}

                                {% if cs.Links is not empty %}
                                    {% for text, lien in cs.Links %}
                                        {% if text == "pdf" %}
                                            <a href="{{ lien }}" class="badge badge-vert-jumo">{{ text }}</a>
                                        {% else %}
                                            <a href="{{ lien }}" class="badge badge-orange-jumo">{{ text }}</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </a>
                        </li>

                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <br>
    </main>
{% endblock %}
