{%  extends 'component/layout.html.twig' %}

{% block main %}

	<main role="main" class="container">
		{% include 'component/fil-ariane.html.twig' with data.filAriane %}

		<h3 class="titre1">{{ data.gp.designation }}
		</h3>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-4 text-justify">
							<img src="{{ data.gp.ImageUrl }}" alt="image produit" class="img-fluid mx-auto d-block">
						</div>
						<div class="col-md-8">
							{% if (data.gp.texte|raw |trim) =="" %}
								<div class="alert alert-light" role="alert">
									<em>Ce produit est en cours d'édition.</em>
								</div>
							{% else %}
								<div class="text-justify ul-jumo">
									<b>
										Réf Jumo :
										{{ data.gp.tn}}
									</b>
								</br>
								{{ data.gp.texte|raw }}
							</div>
						{% endif %}
					</div>
				</div>
				{% if data.prod.automatique == 1 %}
					<div class="row">
						<ul class="ul-jumo mt-3">
							<li>
								<a class="btn btn-primary btn-lg text-dark ml-5 mb-5 mt-3" href="{{ data.gp.lien }}">En savoir plus</a>
							</li>
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<br>
</main>{% endblock %}
