{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

        {% if data.page.titre is defined %}
            <h3 class="titre1">{{ data.page.titre }}</h3>
        {% endif %}

        {% if data.page.contenu is defined %}
            <div class="text-justify">{{ data.page.contenuDecode | raw }}</div>
            <br>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                        <img src="/img/jumo_france_2016.png" alt="Contacter Jumo en France" width="385" height="385" border="0" usemap="#france"class="img-fluid"/>
                        <map name="france">
                            {% for d in data.depts %}
                                <area alt="{{ d.Num }}" title="{{ d.Num }} - {{ d.Nom }}" href="{{ d.Url }}" shape="poly" coords="{{ data.coords[d.Num] }}"/>
                            {% endfor %}
                    </map>
                </div>
                <div class="col-md-6">
                    <form class="text-center" method="post" action="/contact">
                        <div class="form-group">
                            <select name="departement"class="form-control">
                                <option selected value="-1">Choisir...</option>
                                {% for d in data.depts %}
                                    <option value="{{ d.Num }}" >{{ d.Num }} - {{ d.Nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn1-jumo">Recherchez vos interlocuteurs</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="http://www.jumo.net/"  target="_blank" class="btn btn-link" role="button">Voir JUMO dans le monde</a>
                    </div>
                </div>
            </div>

            {% if data.departement is defined %}
                <h4 class="text-justify titre1"> Vos interlocuteurs pour le département {{ data.departement | upper }} (secteur {{ data.secteur | upper }})</h4>
                <br>
            {% endif %}
            <div class="row">
                {% if data.itc is defined %}
                    <div class="col-md-3 d-flex">
                        <div class="card card-commercial-jumo">
                            <img class="card-img-top mx-auto d-block" src="{{ data.itc.imageUrl }}" alt="photo itc">
                            <div class="card-body">
                                <p class="card-title titre1 text-center">{{ data.itc.prenom |upper }} {{ data.itc.nom |upper }}</p>
                                <p class="card-text text-center font-weight-light">{{ data.itc.fonction }}</p>
                                <p class="card-text text-center"><i class="fas fa-phone"></i> <br>{{ data.itc.tel }}</p>
                                <p class="card-text text-center"><i class="fas fa-envelope"></i> <br><a href="mailto:{{ data.itc.mail }}">{{ data.itc.mail }}</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if data.tcs is defined %}
                    <div class="col-md-3 d-flex">
                        <div class="card card-commercial-jumo">
                            <img class="card-img-top mx-auto d-block" src="{{ data.tcs.imageUrl }}" alt="photo tcs">
                            <div class="card-body">
                                <p class="card-title titre1 text-center">{{ data.tcs.prenom |upper }} {{ data.tcs.nom |upper }}</p>
                                <p class="card-text text-center font-weight-light">{{ data.tcs.fonction }}</p>
                                <p class="card-text text-center"><i class="fas fa-phone"></i> <br>{{ data.tcs.tel }}</p>
                                <p class="card-text text-center"><i class="fas fa-envelope"></i> <br><a href="mailto:{{ data.tcs.mail }}">{{ data.tcs.mail }}</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if data.ac is defined %}
                    <div class="col-md-3 d-flex">
                        <div class="card card-commercial-jumo">
                            <img class="card-img-top mx-auto d-block" src="{{ data.ac.imageUrl }}" alt="photo ac">
                            <div class="card-body">
                                <p class="card-title titre1 text-center">{{ data.ac.prenom |upper }} {{ data.ac.nom |upper }}</p>
                                <p class="card-text text-center font-weight-light">{{ data.ac.fonction }}</p>
                                <p class="card-text text-center"><i class="fas fa-phone"></i> <br>{{ data.ac.tel }}</p>
                                <p class="card-text text-center"><i class="fas fa-envelope"></i> <br><a href="mailto:{{ data.ac.mail }}">{{ data.ac.mail }}</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if data.dir is defined %}
                    <div class="col-md-3 d-flex">
                        <div class="card card-commercial-jumo">
                            <img class="card-img-top mx-auto d-block" src="{{ data.dir.imageUrl }}" alt="photo dir">
                            <div class="card-body">
                                <p class="card-title titre1 text-center">{{ data.dir.prenom |upper }} {{ data.dir.nom |upper }}</p>
                                <p class="card-text text-center font-weight-light">{{ data.dir.fonction }}</p>
                                <p class="card-text text-center"><i class="fas fa-phone"></i> <br>{{ data.dir.tel }}</p>
                                <p class="card-text text-center"><i class="fas fa-envelope"></i> <br><a href="mailto:{{ data.dir.mail }}">{{ data.dir.mail }}</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>


{% endblock %}

{% block javascript %}
    <script src="/js/responsiveMap/jquery.rwdImageMaps.min.js"></script>
    <script>$('img[usemap]').rwdImageMaps();</script>
{% endblock %}