{%  extends 'component/layout.html.twig' %}

{% block main %}

	<main role="main" class="container">
		{% include 'component/fil-ariane.html.twig' with data.filAriane %}

		<h3 class="titre1">{{ data.ga.intitule }}</h3>
		<div class="row justify-content-center d-flex align-items-end">
		{% if data.fabfr == null or data.lpNum == 35 %}
			{% for d in data.gps %}
				<div class="col-md-3 m-4">
					<h4 class="text-center labeltypeprod">{{d.typelabel}}</h4>
					<a href="{{d.url}}">
						<img class="mb-4 mt-3 mx-auto d-block" src="{{ d.imageSmallUrl }}" alt="image LP"></a>
					<div class="text-center p-2" id="test" style="  overflow-wrap: break-word;">
						<h2 class="">
							<a class="" id="test2" href="{{ d.Url }}">{{ d.intitule}}</a>
						</h2>
						<h4 class="mt-4">
							<a class="" id="test2" href="{{ d.Url }}">{{ d.description1}}</a>
						</h4>
					</div>
				</div>
			{% endfor %}
		{% else %}
			{% for d in data.gpss %}
				<div class="col-md-3 m-4">
					<h4 class="text-center labeltypeprod">{{d.typelabel}}</h4>
					<a href="{{d.url}}">
						<img class="mb-4 mt-3 mx-auto d-block" src="{{ d.imageSmallUrl }}" alt="image LP"></a>
					<div class="text-center p-2" id="test" style="  overflow-wrap: break-word;">
						<h2 class="">
							<a class="" id="test2" href="{{ d.Url }}">{{ d.intitule}}</a>
						</h2>
						<h4 class="mt-4">=
							<a class="" id="test2" href="{{ d.Url }}">{{ d.description1}}</a>
						</h4>
					</div>
				</div>
			{% endfor %}
		{% endif %}	
		</div>
	</main>
{% endblock %}
