<header class="container">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="{{ path_for('accueil.index') }}" title="Jumo - Instrumentation, Metrologie, Mesures, Industrie"><img src="/img/logo.png" class="d-inline-block align-middle" alt="logo-jumo">
			<span>JUMO France</span>
		</a>
		<!--<h4>JUMO France </h4>-->
		<span class="navbar-text align-top">
			<small>Leader dans l'instrumentation et la mesure pour l'industrie</small>
		</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-jumo" aria-controls="nav0,nav1,nav2" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end nav-jumo" id="nav0">
			<form class="form-inline my-2 my-lg-0" method="POST" action="{{ path_for('recherche.index') }}">
				<div class="input-group">
					<input class="form-control form-control-sm" type="search" placeholder="Rechercher" aria-label="Rechercher" name="rechercheHeader">
					<div class="input-group-append">
						<button id="navbarSearchBtn" class="btn btn-sm" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="collapse navbar-collapse nav-jumo" id="nav1">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('accueil.index') }}">ACCUEIL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('ligne-produit.index') }}">PRODUITS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.jumo-france.fr/services/3/service-metrologie-dans-nos-laboratoires-ou-sur-site">MÉTROLOGIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('silothermometrie.index') }}">SILOTHERMOMÉTRIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('service.index') }}">SERVICES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('actualite.index') }}">ACTUALITÉS/SALONS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('entreprise.index') }}">ENTREPRISE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('contact.index') }}">CONTACT</a>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse justify-content-end nav-jumo" id="nav2">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('catalogue-stock.index') }}">CATALOGUE STOCK</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path_for('catalogue-standard.index') }}">CATALOGUE STANDARD</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
